/* Définition des polices personnalisées */

p {
    color: rgb(95, 91, 91)
}
h1 {
    color: black;
    font-size: 18;
}
h2 {
    color: black;
    font-size: 25;
}
h3 {
    color: black;
    font-size: 30;
}
.en-tête {
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 80px;
}

nav an {
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: #0065FC;
    border-bottom: 3px solid #0065FC;  
}
.logo {
    margin-left: 35px;
    width: 120px;
    height: 58px;
}
.filter {
    margin : 12px; 
    background-color: white;
    border-radius: 70px;
    padding: 0 10px;
    line-height: 2;
    border: 0.5px black solid;
    text-align : center;
    width : 15%;
}
.filter:hover {
    background-color: #DEEBFF;
    
}
.FilterColumn {
    display: flex;
    padding : 15px;
}


article {
    overflow: hidden;
    border: 8px white solid;
}

#articlesHebergements {
    display: flex;
    justify-content: center;
}

.hébergementMarseilles {
    background-color: #F2F2F2 ;
    padding : 15px;
    margin : 15px; 
    border-radius: 25px;
    width: 70%;
}


.hébergementMarseilles article {
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    
    border-radius: 24.8px;
    background-color : white;
    text-align: justify;
    box-shadow: 2px 2px 10px black;
}
.hébergementMarseilles img {
    
    width: 686px;
    height :288px;  
}
.populaires {
    background-color: #F2F2F2 ;
    padding : 15px;
    border-radius: 24.8px;
    width: 30%;
}
.populaires article {
    
    margin : 15px; 
    border-radius: 24.8px;
    background-color : white;
    text-align: justify;
    box-shadow: 2px 2px 10px black;
}

.populaires img {
    position: relative;
    width: 686px;
    height :288px;
}
.activités {
    background-color: #F2F2F2;
    padding : 15px;
    margin : 15px; 
    border-radius: 25px;
    display: flex ;
    align-content: stretch;
}
.activités article {
    background-color : white;
    text-align: justify;
    box-shadow: 2px 2px 10px black;
    margin : 15px; 
    border-radius: 25px;
}
.activités img{
    width: ;
}

main {
    background-color: white;
}

footer {
    background-color: #F2F2F2;
}

img { 
    border-radius: 21px;
}