/* Définition des polices personnalisées */

/*Éléments de la page*/

p {
    color: rgb(95, 91, 91)
}
h1 {
    color: black;
    font-size: 18;
}
h2 {
    color: black;
    font-size: 25;
}
h3 {
    color: black;
    font-size: 30;
}


article {
    overflow: hidden;
    border: 8px white solid;
}

img { 
    width: 100%;
    
}

.étoile
{
    list-style-type: none;
    display: flex;

}



/*Header*/

.en-tête {
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 80px;
}

nav a {
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: #0065FC;
    border-bottom: 3px solid #0065FC;  
}
.logo {
    margin-left: 35px;
    width: 120px;
    height: 58px;
}

/*Main*/

main {
    background-color: white;
}

/*searh & filtre*/
    /*Filtres*/

.filter {
    margin : 12px; 
    background-color: white;
    border-radius: 70px;
    padding: 0 10px;
    line-height: 2;
    border: 0.5px black solid;
    text-align : center;
    width : 15%;
}
.filter:hover {
    background-color: #DEEBFF;
    
}
.FilterColumn {
    display: flex;
    padding : 15px;
}

   


    /*Search*/

/*Section hébergement*/

#articlesHebergements {
    display: flex;
    justify-content: center;
    gap: 25px;
}

    /*Hébergement à Marseilles*/
.hébergementMarseilles  {
   
    background-color: #F2F2F2 ;
    padding : 15px;
    margin : 15px; 
    border-radius: 25px;
    flex-grow: 2;
    
}

.hébergementMarseilles section{
    padding: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hébergementMarseilles article {
    width: 30%;
    margin: 10px;
    display: flex ;
    flex-direction: column;
    border-radius: 24.8px;
    background-color : white;
    box-shadow: 2px 2px 10px black;
}

 /*Hébergement populaire*/
    
 .populaires {
    background-color: #F2F2F2 ;
    padding : 15px;
    border-radius: 24.8px;
    margin : 15px;
}
.populaires article {
    display: flex;
    flex-direction: row;
    margin : 15px; 
    border-radius: 24.8px;
    background-color : white;
    text-align: justify;
    box-shadow: 2px 2px 10px black;
}

.populaires img {
    position: relative;
}

/*section activités*/

.activités {
    background-color: #F2F2F2;
    padding : 15px;
    margin : 15px; 
    border-radius: 25px;
    display: flex ;
    align-content: stretch;
}
.activités article {
    background-color : white;
    text-align: justify;
    box-shadow: 2px 2px 10px black;
    margin : 15px; 
    border-radius: 25px;
}

/*Footer*/

footer {
    background-color: #F2F2F2;
}



