/* Définition des polices personnalisées */

.conteneur{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

p,li,span {
    color: black;
    font-family: 'Raleway', sans-serif;
}
h1 {
    color: black;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
h2 {
    color: black;
    font-size: 25px;
    padding-left: 15px;
    font-family: 'Raleway', sans-serif;
}
h3 {
    color: black;
    font-family: 'Raleway', sans-serif;
}

a{
    font-family: 'Raleway', sans-serif; 
}

/*Éléments de la page*/

*{
    box-sizing: border-box;
}
article {
    overflow: hidden;  
}
i.starBlue{
    color : #0065FC;   
}
i.starGrey{
    color: #F2F2F2;
}

body{
    margin: unset;
    padding: 15px;
    padding-top: 0px;
}

b{
    font-weight: bold;
}

/*Header*/



.en-tete {
    display: flex;
}

nav{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-top: 0px;
}

nav li {
    padding: 40px;
    text-align: center;
    width: 50%;
    margin: 0%; 
}

nav a {
    font-size: 1.3em;
    color: #181818; 
    padding-bottom: 3px;
    text-decoration: none;
}

nav li:hover {
    border-top: 3px solid #0065FC;      
}

nav a:hover{
    color: #0065FC;
    font-weight: bold;
}

.logo {
    margin: 20px;
    width: 120px;
    height: 58px;
}

/*==========Main========*/


/*=========searh & filtre=========*/

    /*===Search===*/


.firstSection p{
    margin: 15px 15px 15px 0px;
}

.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 70px;
    line-height: 2;
    border : 1px, rgb(0, 0, 0);
    padding-bottom: 15px;
    padding-top: 15px;
}


.fa-map-marker-alt:before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
}

.searchBar{
    width: 170px;
    height: 55px;
    border: 0.5px #F2F2F2 solid;
    font-weight: bold;
    padding-left: 10px;
}

.searchButton{
    background-color: #0065FC;
    color: #FFFFFF;
    text-align: center;
    width: 110px;
    height: 55px;
    border: hidden;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;
    font-weight: bold;
}

.iconSearch{
    background-color: #0065FC;
    color: #FFFFFF;
    text-align: center;
    width: 40px;
    height: 40px;
    border: hidden;
    border-radius: 15px;
    font-weight: bold;
    display: none;
}

.searchButton:hover{
    background-color: #0065fc91;
}


    /*===Filtres===*/

.filterSection{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.filterSection h3{
    display: flex;
    align-items: center;
}

.filterLine {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}

.filterLine h3 {
margin: 10px;
}


.filter {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin : 12px; 
    background-color: #FFFFFF;
    border-radius: 100px;
    border: 2px #F2F2F2 solid;
    transition: all 1s ease-out;
}

.filter p{
    padding-left: 74px;
    padding-right: 20px;
    font-weight: bold;
}

.filterIcon{
    background-color: #DEEBFF ;
    font-size: 40px;
    transform: scale(2, 2);
    left: -2%;
}

.filter i{
    color: #0065FC ;
    background-color: #DEEBFF ;
    display: flex;
    width: 52px;
    height: 52px;
    justify-content: center;
    align-items: center;
    padding: 14px;
    border-radius: 50%;
    position: absolute;
    text-align: left;
}

.filter:hover {
    background-color: #DEEBFF;
    
}

.infoLogement i {
    height: 30px;
    width: 30px;
    border: 1.5px #F2F2F2 solid ;
    border-radius: 50%;
    color: #0065FC;
    text-align: center;
    font-size: 10px;
    padding:9px;
}


/*========Section hébergement========*/


.articlesHebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 1800px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

    /*===Hébergement à Marseilles===*/

.hébergementMarseilles  {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2 ;
    padding : 15px;
    margin : 15px;
    margin-left: 0px; 
    border-radius: 25px;
    width: 65%;
    flex-wrap: wrap;   
}

.Hebergements{
    padding: 15px;
    margin: 0px;
}

.sectionhebergement{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sectionhebergement article {
    margin: 10px 0px;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    width: 27%;
    border-radius: 24.8px;
    background-color : #FFFFFF;
    box-shadow: 1px 1px 10px #858585;
    border: 8px #FFFFFF solid; 
    min-width: 250px; 
}

.sectionhebergement article img {
    object-fit: cover;
    width: 100%;
    height: 155px;
    object-position: 50% 55%;
}

.sectionhebergement article h3, p{
    margin-left: 11px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.notation{
    margin-left: 11px;
    margin-top: 5px;
}

.Afficher{
    font-size: 1.3em;
    color: #181818; 
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    margin: 15px;
}

 /****************---Hébergement populaires---*****************/
    
 .populaires {
    justify-content: stretch;
    background-color: #F2F2F2 ;
    padding : 15px;
    border-radius: 24.8px;
    margin : 15px;
    width: 30%;
    min-width: 270px;
}

.populaires section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.TitreHebergementPopulaire{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.TitreHebergementPopulaire i{
    font-size: 25px;
    margin: 0px;
}

.TitreHebergementPopulaire h2{
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    
}

.populaires article {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 24.8px;
    background-color : #FFFFFF;
    box-shadow: 1px 1px 10px #858585;
    border: 8px #FFFFFF solid;
    width: 100%;
    height: 100%;   
}

.populaires img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 40%;
    height: 160px;
}

.descriptionPopulaire{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;    
}

.descriptionPopulaire h3{
    margin: 0em;
}

.descriptionPopulaire p{
    margin: 0em;
}

.Afficher:hover{
    color: #0065FC;
}

/****************-SECTION ACTIVITES-*****************/


.Activites section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    flex-wrap: wrap;  
    
}

.Activites h2{
    width: calc(100% - 15px);
}

.activitesColumns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.articleColumns{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%; 
    padding: 30px;
}

.activitesColumns article{
    background-color : #FFFFFF;
    box-shadow: 2px 2px 10px black;
    margin : 15px; 
    border-radius: 25px;
    flex-wrap: wrap;
    width: 100%;
    margin: 0%;
    margin-bottom: 60px;
   
}

.image1{
    object-fit: cover;
    width: 100%;
    height: 500px ;
    object-position: 50% 55%;
}

.image2{
    object-fit: cover;
    width: 100%;
    height: 200px ;
    
    object-position: 50% 55%;
}

/****************Footer*****************/

footer {
    background-color: #F2F2F2;
}

.footerContent{
    display: flex; 
    flex-direction: row;
    
}

.footerContent ul{
    list-style-type: none;
    padding: 0px;
}

.footerContent ,li,h3{
    margin: 15px;
}

.footerColumn{
    padding-top: 1%;
    padding-left: 6%;
    padding-right: 13%;
}


@media all and (max-width: 1220px)
{
    .articlesHebergements{
        display: flex;
        flex-direction: column-reverse;
    }

    .hébergementMarseilles{
        width: 100%;
        margin:0%;
        margin-top: 30px;
    }

    .populaires{
        
        width: 100%;
        margin: 0%;
    }

@media all and (max-width: 700px)
{
    
    .iconSearch{
        display: block;
        left: 2px;
        height: 55px;
        width: 55px;
    }

    .search{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .searchButton{
        display:none;
    }

    .filterLine{
        display: flex;
        flex-direction: column;
    }

    body{
        padding: 15px
    }

    section{
        margin: 0px;
    }
    
    article{
        width: auto;
    }

    img{
        width: auto;
    }

    /*=====HEADER=====*/

    .en-tete {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: auto;
    }

    nav{
        width: auto;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        width: auto;
        margin: 0px;
        padding: 0em;
    }
    
    nav li {
        
        width: 187.5px;
        padding-bottom: 15px;
        border-bottom: 3px solid #F2F2F2;
        margin: 0em;
    }
    
    nav a {
        font-size: 1.3em;
        color: #181818; 
        padding-bottom: 3px;
        
        text-decoration: none;
    }
    
    nav li:hover{
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    nav a:hover {
        color: #0065FC;
        border-top: 0px;
        padding-top: 18%;  
    }

    .searchBar{
        width: 100%;
    }

    .logo {
        margin: 30px;
        width: 120px;
        height: 58px;
    }

    .filterSection{
        display: flex;
        flex-direction: column;
    }

    .filterLine{
        flex-direction: row;

    }



    /*====ARTICLE=====*/

    .articlesHebergements{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .articlesHebergements{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
        margin: 0em;

    }

    .hébergementMarseilles{
        width: 100%;
        margin:0%;
        margin-top: 30px;
    }

    .sectionhebergement{
        margin: 0px;
        margin-top: 15px ;
    }

    .sectionhebergement article{
        width: 100%;
    }

    .hébergementMarseilles article{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .populaires{
        
        width: 100%;
        margin: 0%;
    }

    .populaires article{
        width: 100%;
    }

    /*=======ACTIVITE ======*/

    .activitesColumns{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }

    .activitesColumns article img{
        height: 200px;
    }

    .articleColumns{
        display: flex;
        justify-content: center;
        width: 100%;
        padding:0%;
    }

    /*=======FOOTER======*/


    .footerContent{
        display: flex;
        flex-wrap: wrap;
    }
}