---
export interface Props {
  title: string;
}

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="//fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <script src="//kit.fontawesome.com/cf430828ad.js" crossorigin="anonymous"
    ></script>

    <title>{title}</title>
  </head>

  <body>
    <div class="mainContainer">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  * {
    list-style: none;
    text-decoration: none;
    font-family: "Raleway";
  }
  ul {
    padding: 0px;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    margin: 0;
  }
  h2 {
    margin: 0px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }

  .showMoreButton {
    background-color: transparent;
    border: none;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
  }

  .showMoreButton:hover {
    color: #0065fc;
  }



  /* width 375px */
</style>
